:root {
  --light: #f8f8f8;
  --dark: #313131;
  --grey: #888;
  --primary: #ffce00;
  --secondary: #fe4880;
  --alert: #ff1e2d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}

input,
button {
  border: none;
  outline: none;
  background: none;
}

body {
  background: linear-gradient(to right, #7f7fd5, #86a8e7, #91eae4);
}

.App {
  max-width: 800px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

h1 {
  color: var(--light);
  font-size: 32px;
  font-weight: 600;
  text-align: left;
}

.total-income {
  color: var(--light);
  font-size: 28px;
  font-weight: 900;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 25px;
  border-radius: 8px;
}

.income-form {
  display: block;
  margin: 15px;
  position: relative;
}

.form-inner {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  transition: 0.4s;
}
.form-inner input {
  font-size: 18px;
  padding: 10px 15px;
  color: var(--light);
  background-color: transparent;
  border: 2px solid var(--light);
  border-radius: 16px 0px 16px 0px;
}

input::placeholder{
	  color: rgb(215, 215, 215);
}

.form-inner input[type='text'] {
  border-radius: 16px 0px 0px 0px;
  flex: 1 1 100%;
  border-right: none;
  color: var(--light);
}
.form-inner input[type='date'] {
  border-radius: 0px;
  min-width: 200px;
  cursor: pointer;
  border-left: none;
	  color: rgb(215, 215, 215);

}
.form-inner input[type='number'] {
  border-radius: 0px;
  border-right: none;
  border-left: none;
  color: var(--light);
}

.form-inner input[type='submit'] {
  border-radius: 0px 0px 16px 0px;
  cursor: pointer;
color: #5d5dd2;
  background-size: 200%;
  background-position: 0%;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.4s;
}

.form-inner input[type='submit']:hover {
  background-position: 100%;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
}

.income-list {
	margin-top: 25px;
}

.income-list .income-item {
  position: relative;
  padding: 10px 15px;
  font-size: 20px;
  font-weight: 700;
  color: rgb(54, 49, 49);
  background-color: transparent;
  border-radius: 16px 0px 16px 0px;
  border: 2px solid var(--light);
  margin-bottom: 15px;
  display: flex;
  transition: 0.4s;
  padding-left: 75px;
}

.income-list .income-item .remove-item {
  position: absolute;
  width: 0;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;

  cursor: pointer;
  display: block;
  color: var(--light);
  font-weight: 600;
  background-color: crimson;
  border-radius: 16px 0px 0px 0px;
  transition: 0.2s;
}

.income-list .income-item:hover .remove-item {
  width: 50px;
}

.income-list .income-item .desc {
  flex: 1 1 100%;
}

.income-list .income-item .price,
.income-list .income-item .date {
  min-width: 125px;
}
.income-list .income-item:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3);
}
